body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

#container-btn-upload > input {
    display: none;
}

.active-btn-filter-type {
    background: #3742fa; 
    width: 100px; 
    height: 60px; 
    border-radius: 5px;
}

.nonactive-btn-filter-type {
    background: #1e272e; 
    width: 100px; 
    height: 60px; 
    border-radius: 5px;
}

input[type=range]:focus {
    outline: none !important;
}

button:focus {
    outline: none !important;
    border: none !important;
}

.btn-lut-active {
    background: #3742fa; 
    width: 70px; 
    height: 45px; 
    border-radius: 5px; 
    padding: 0; 
    color: white;
}

.btn-lut-nonactive {
    background: #2C3A47; 
    width: 70px; 
    height: 45px; 
    border-radius: 5px; 
    padding: 0; 
    color: white;
}